// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

input {
    keyboard {
        xkb {
            layout "gb(colemak_dh),gb"
            options "ctrl:nocaps"
        }
        numlock
    }
    touchpad {
        // off
        tap
        dwt
        // dwtp
        // drag false
        drag-lock
        natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        scroll-factor 0.1
        // scroll-method "two-finger"
        disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // middle-emulation
    }
    focus-follows-mouse max-scroll-amount="100%"
}

output "eDP-1" {
    mode "1920x1080"
    scale 1
    transform "normal"
    position x=1280 y=0
}

output "DP-1" {
    mode "1920x1080"
    scale 1
    focus-at-startup
    variable-refresh-rate
}

output "HDMI-A-1" {
    mode "1920x1080"
    scale 1
}

layout {
    gaps 16
    center-focused-column "never"
    
    preset-column-widths {
        proportion 0.5
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        off
    }

    border {
        width 6
        active-gradient from="#FDBDFF" to="#9DADFF" angle=135
        inactive-gradient from="#9D6D9F" to="#3D5D96" angle=135
        urgent-color "#9b0000"
    }

    shadow {
        on
        softness 5
        spread 0 
        offset x=10 y=10
        color "#0009"
    }
}

spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "otd-daemon"
spawn-at-startup "sh" "-c" "swaybg --image $HOME/Pictures/Wallpapers/omori_blur.png"
spawn-at-startup "sh" "-c" "swww-daemon"
spawn-at-startup "sh" "-c" "swww img $HOME/Pictures/Wallpapers/omori.png --transition-type grow --transition-duration 3"
spawn-at-startup "sh" "-c" "/usr/lib*/polkit-mate-authentication-agent-1"
spawn-at-startup "sh" "-c" "$HOME/.config/niri/scripts/pipewire.sh"
spawn-at-startup "sh" "-c" "$HOME/.config/niri/scripts/portals.sh"
spawn-at-startup "xwayland-satellite"

environment {
    GLFW_IM_MODULE "fcitx"
    INPUT_METHOD "fcitx"
    XMODIFIERS "@im=fcitx"
    IMSETTINGS_MODULE "fcitx"
    QT_IM_MODULE "fcitx"
    SDL_IM_MODULE "fcitx"
    LIBVA_DRIVER_NAME "nvidia"
    __GLX_VENDOR_LIBRARY_NAME "nvidia"
    __GL_GSYNC_ALLOWED "1"
    DISPLAY ":1"
}

cursor {
    hide-after-inactive-ms 3000
}

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"^discord$"#
    open-maximized true
    block-out-from "screencast"
}

window-rule {
    match title=r#"^Steam$"# app-id=r#"^steam$"#
    match app-id=r#"^com\.obsproject\.Studio$"#
    open-maximized true
}

// niri doesnt support look around 😭
window-rule {
    match title=r#"^([^S]|S([^t]|$)|St([^e]|$)|Ste([^a]|$)|Stea([^m]|$)).*$"# app-id=r#"^steam$"#
    match title=r#"^Steam Settings$"# app-id=r#"^steam$"#
    match app-id=r#"^org\.twosheds\.iwgtk$"#
    match app-id=r#"^iwgtk$"#
    match app-id=r#"^Blueman-manager$"#
    open-floating true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

layer-rule {
    match namespace="^swaync-notification-window$"
    block-out-from "screencast"
}

layer-rule {
    match namespace="^swaync-control-center$"
    block-out-from "screencast"
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+S hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun"; }
    Ctrl+Alt+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "sh" "-c" "hyprlock -c $HOME/.config/niri/extras/hyprlock.conf"; }
    Ctrl+Shift+Alt+L { spawn "fcitx5-remote" "-t"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+" "-l" "1"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+K   { spawn "swaync-client" "-t"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    Mod+M     { focus-column-left; }
    Mod+E     { focus-window-or-workspace-down; }
    Mod+N     { focus-window-or-workspace-up; }
    Mod+I     { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+M     { move-column-left; }
    Mod+Shift+E     { move-window-down-or-to-workspace-down; }
    Mod+Shift+N     { move-window-up-or-to-workspace-up; }
    Mod+Shift+I     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Down  { focus-monitor-down; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+M     { focus-monitor-left; }
    Mod+Alt+E     { focus-monitor-down; }
    Mod+Alt+N     { focus-monitor-up; }
    Mod+Alt+I     { focus-monitor-right; }

    Mod+Shift+Alt+Left  { move-column-to-monitor-left; }
    Mod+Shift+Alt+Down  { move-column-to-monitor-down; }
    Mod+Shift+Alt+Up    { move-column-to-monitor-up; }
    Mod+Shift+Alt+Right { move-column-to-monitor-right; }
    Mod+Shift+Alt+M     { move-column-to-monitor-left; }
    Mod+Shift+Alt+E     { move-column-to-monitor-down; }
    Mod+Shift+Alt+N     { move-column-to-monitor-up; }
    Mod+Shift+Alt+I     { move-column-to-monitor-right; }

    Mod+Shift+J         { move-workspace-to-monitor-left; }
    Mod+Shift+Y         { move-workspace-to-monitor-right; }
    
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+L              { focus-workspace-up; }
    Mod+J              { focus-monitor-left; }
    Mod+Y              { focus-monitor-right; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+N         { move-column-to-workspace-down; }
    Mod+Ctrl+E         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+L         { move-workspace-up; }

    Mod+TouchpadScrollLeft          cooldown-ms=150 { focus-column-right; }
    Mod+TouchpadScrollRight         cooldown-ms=150 { focus-column-left; }
    Mod+TouchpadScrollDown cooldown-ms=150              { focus-window-up; }
    Mod+TouchpadScrollUp    cooldown-ms=150          { focus-window-down; }
    
    Mod+Shift+TouchpadScrollLeft          cooldown-ms=150 { move-column-right; }
    Mod+Shift+TouchpadScrollRight         cooldown-ms=150 { move-column-left; }
    Mod+Shift+TouchpadScrollDown cooldown-ms=150              { move-window-up; }
    Mod+Shift+TouchpadScrollUp    cooldown-ms=150          { move-window-down; }

    Mod+Alt+TouchpadScrollRight   cooldown-ms=150   { set-column-width "+5%"; }
    Mod+Alt+TouchpadScrollLeft    cooldown-ms=150   { set-column-width "-5%"; }
    Mod+Alt+TouchpadScrollUp      { set-window-height "+5%"; }
    Mod+Alt+TouchpadScrollDown    { set-window-height "-5%"; }
    Mod+Ctrl+TouchpadScrollDown cooldown-ms=150              { focus-workspace-down; }
    Mod+Ctrl+TouchpadScrollUp    cooldown-ms=150          { focus-workspace-up; }
    Mod+Ctrl+Alt+TouchpadScrollDown cooldown-ms=150 { move-workspace-down; }
    Mod+Ctrl+Alt+TouchpadScrollUp   cooldown-ms=150 { move-workspace-up; }
    
    Mod+Shift+WheelScrollDown   { focus-workspace-down; }
    Mod+Shift+WheelScrollUp     { focus-workspace-up; }
    Mod+Ctrl+Shift+WheelScrollDown   { move-workspace-down; }
    Mod+Ctrl+Shift+WheelScrollUp     { move-workspace-up; }
    Mod+WheelScrollDown         { focus-column-right; }
    Mod+WheelScrollUp           { focus-column-left; }
    Mod+Ctrl+WheelScrollUp      { set-column-width "+5%"; }
    Mod+Ctrl+WheelScrollDown    { set-column-width "-5%"; }
    Mod+Alt+WheelScrollUp      { set-window-height "+5%"; }
    Mod+Alt+WheelScrollDown    { set-window-height "-5%"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+Ctrl+M  { consume-or-expel-window-left; }
    Mod+Ctrl+I { consume-or-expel-window-right; }

    Mod+R { set-window-width "50%"; }
    Mod+Shift+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Return { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+C { center-column; }

    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }

    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    Mod+W       { toggle-window-floating; }
    Mod+Shift+W { switch-focus-between-floating-and-tiling; }

    Mod+V { toggle-column-tabbed-display; }

    Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "prev"; }

    Mod+Shift+S { spawn "sh" "-c" "niri msg action screenshot --show-pointer false"; }
    Print { spawn "sh" "-c" "niri msg action screenshot-screen --show-pointer false"; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}

debug {
    wait-for-frame-completion-in-pipewire
}
