// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

include "config.kdl.d/startup.kdl"
include "config.kdl.d/keybinds.kdl"
include "config.kdl.d/decorations.kdl"
include "config.kdl.d/windowrules.kdl"
include "config.kdl.d/layerrules.kdl"
include "config.kdl.d/inputs.kdl"
include "config.kdl.d/outputs.kdl"

layout {
  gaps 16
  center-focused-column "never"

  preset-column-widths {
    proportion 0.5
    proportion 0.66
    proportion 1.0
  }
  default-column-width { proportion 0.5; }

  focus-ring {
    off
  }

  tab-indicator {
    width 6
    length total-proportion=0.7
    position "top"
  }

  border {
    width 6
  }

  shadow {
    on
    softness 5
    spread 0 
    offset x=10 y=10
    color "#1A1A1ABB"
    inactive-color "#1A1A1ABB"
  }
}

gestures {
  hot-corners {
    off
  }
}

hotkey-overlay {
  skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

animations {
  slowdown 1.5
}

switch-events {
  lid-close { spawn "sh" "-c" "hyprlock -c $HOME/.config/niri/extras/hyprlock.conf"; }
}
