// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

include "config.kdl.d/startup.kdl"
include "config.kdl.d/animations.kdl"
include "config.kdl.d/keybinds.kdl"
include "config.kdl.d/colours.kdl"
include "config.kdl.d/decorations.kdl"
include "config.kdl.d/windowrules.kdl"
include "config.kdl.d/layerrules.kdl"
include "config.kdl.d/inputs.kdl"
include "config.kdl.d/outputs.kdl"
include "config.kdl.d/silly.kdl"

layout {
  center-focused-column "never"
  empty-workspace-above-first
  preset-column-widths {
    proportion 0.5
    proportion 0.66
    proportion 1.0
  }
  default-column-width { proportion 0.5; }

  focus-ring {
    off
  }
}

cursor {
  hide-after-inactive-ms 2000
}

gestures {
  hot-corners {
    off
  }
}

hotkey-overlay {
  skip-at-startup
}

clipboard {
  disable-primary
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

debug {
  honor-xdg-activation-with-invalid-serial
}

switch-events {
  lid-close { spawn "sh" "-c" "hyprlock -c $HOME/.config/niri/extras/hyprlock.conf"; }
}
