layout {
  // i dont actually use tabs ever actually
  tab-indicator {
    active-color "#AADDAA"
    inactive-color "#447744"
  }

  border {
    active-gradient from="#9AC7A9" to="#77C466" relative-to="workspace-view" angle=135 in="oklab"
    inactive-gradient from="#578466" to="#376446" relative-to="workspace-view" angle=135 in="oklab"
    urgent-color "9B0000"
  }
}

