window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

recent-windows {
  highlight {
    corner-radius 16
  }
}

cursor {
  xcursor-theme "okayuXcur"
  xcursor-size 32
}

layout {
  gaps 16

  shadow {
    on
    softness 5
    spread 0
    offset x=10 y=10
    color "#1A1A1AAA"
    inactive-color "#1A1A1AAA"
  }

  tab-indicator {
    width 4
    length total-proportion=0.7
  }

  border {
    on
    width 6
  }
}
