binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  Mod+T hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
  Mod+S hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun"; }
  Ctrl+Shift+Alt+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "sh" "-c" "hyprlock -c $HOME/.config/niri/extras/hyprlock.conf"; }
  Mod+Ctrl+Shift+L { spawn "fcitx5-remote" "-t"; }

  XF86AudioRaiseVolume    allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+" "-l" "1"; }
  XF86AudioLowerVolume    allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
  XF86AudioMute           allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86MonBrightnessDown   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "2%-"; }
  XF86MonBrightnessUp     allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "2%+"; }

  Mod+K                   { spawn "swaync-client" "-t"; }

  Mod+Apostrophe repeat=false      { toggle-overview; }

  Mod+Q                   { close-window; }

  Mod+N                   { focus-column-left; }
  Mod+E                   { focus-window-down; }
  Mod+I                   { focus-window-up; }
  Mod+O                   { focus-column-right; }

  Mod+Shift+N             { move-column-left; }
  Mod+Shift+E             { move-window-down; }
  Mod+Shift+I             { move-window-up; }
  Mod+Shift+O             { move-column-right; }
   
  Mod+Ctrl+Shift+N        { consume-or-expel-window-left; } 
  Mod+Ctrl+Shift+O        { consume-or-expel-window-right; } 

  Mod+U                   { focus-workspace-down; }
  Mod+Y                   { focus-workspace-up; }
  Mod+L                   { focus-monitor-left; }
  Mod+semicolon           { focus-monitor-right; }
  Mod+Shift+L             { move-column-to-monitor-left; }
  Mod+Shift+semicolon     { move-column-to-monitor-right; }

  Mod+Shift+Page_Down     { move-window-down; }
  Mod+Shift+Page_Up       { move-window-up; }
  Mod+Shift+U             { move-column-to-workspace-down focus=false; }
  Mod+Shift+Y             { move-column-to-workspace-up focus=false; }

  Mod+1                   { focus-column-left; }
  Mod+2                   { focus-window-or-workspace-down; }
  Mod+3                   { focus-window-or-workspace-up; }
  Mod+4                   { focus-column-right; }
  Mod+Shift+1             { move-column-left; }
  Mod+Shift+2             { move-column-to-workspace-down focus=false; }
  Mod+Shift+3             { move-column-to-workspace-up focus=false; }
  Mod+Shift+4             { move-column-right; }
  Mod+Ctrl+Shift+1        { consume-or-expel-window-left; }
  Mod+Ctrl+Shift+4        { consume-or-expel-window-right; }

  Mod+P                   { switch-preset-column-width; }
  Mod+Shift+P             { reset-window-height; }
  Mod+F                   { fullscreen-window; }
  Mod+Shift+F             { toggle-windowed-fullscreen; }

  Mod+C                   { center-column; }

  Mod+Ctrl+C              { center-visible-columns; }

  Mod+Minus               { set-column-width "-5%"; }
  Mod+Equal               { set-column-width "+5%"; }

  Mod+Shift+Minus         { set-window-height "-5%"; }
  Mod+Shift+Equal         { set-window-height "+5%"; }

  Mod+W                   { toggle-window-floating; }
  Mod+Shift+W             { switch-focus-between-floating-and-tiling; }

  Mod+V                   { toggle-column-tabbed-display; }

  Mod+Control+Space       { switch-layout "next"; }
  Mod+Control+Shift+Space { switch-layout "prev"; }

  Mod+Shift+R             { screenshot show-pointer=false; }
  Print                   { screenshot-screen show-pointer=false; }
  Mod+Print               { screenshot-window; }

  Ctrl+Alt+Delete         { quit; }

  Ctrl+Alt+Shift+P        { power-off-monitors; }
}
