output "eDP-1" {
	mode "1920x1080"
	position x=0 y=0
	scale 1
}

output "GIGA-BYTE TECHNOLOGY CO., LTD. GS27QA 0x01010101" {
	mode "2560x1440"
	position x=0 y=0
	scale 1
	focus-at-startup
	variable-refresh-rate
}

output "Samsung Electric Company LF27T450F HK2T100145" {
	mode "1920x1080"
	position x=2560 y=0
	scale 1
}
