spawn-at-startup "sh" "-c" "$HOME/.config/waybar/scripts/vpn-watch.sh"
spawn-at-startup "sh" "-c" "$HOME/.config/niri/scripts/wallpaper.sh"
spawn-at-startup "sh" "-c" "$HOME/.config/niri/scripts/pipewire.sh"
spawn-at-startup "sh" "-c" "$HOME/.config/niri/scripts/portals.sh"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "iwgtk" "--gapplication-service"
spawn-at-startup "blueman-applet"
spawn-at-startup "otd-daemon"
spawn-at-startup "fcitx5"
spawn-at-startup "swaync"
spawn-at-startup "waybar"
