window-rule {
  match app-id=r#"^waybar$"#
  open-focused false
}

window-rule {
  match is-floating=true
  exclude app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  baba-is-float true
}

window-rule {
  match app-id=r#"^discord|vesktop$"#
  block-out-from "screencast"
}

window-rule {
  match app-id=r#"^com\.obsproject\.Studio$"# title=r#"^OBS\ *.*.*$"#
  match app-id=r#"^[Ff]irefox(-esr|-bin|)$"# title=r#"^Mozilla\ Firefox$"#
  match app-id=r#"^MuseScore4$"# title=r#"^MuseScore Studio$"#
  match app-id=r#"^steam$"# title=r#"^Steam$"#
  match app-id=r#"^discord|vesktop$"#
  match app-id=r#"^spotify$"#
  default-column-width { proportion 0.66; }
}

window-rule {
  match app-id=r#"^org.kde.kdenlive$"# title=r#"^Splash Screen — Kdenlive$"#
  match app-id=r#"^[Ff]irefox(-esr|-bin|)$"# title=r#"^Picture-in-Picture$"#
  match app-id=r#"^org.fcitx.fcitx5-config-qt$"#
  match app-id=r#"^org.pulseaudio.pavucontrol$"#
  match app-id=r#"^org\.twosheds\.iwgtk$"#
  match app-id=r#"^org.gnome.Nautilus$"#
  match app-id=r#"^blueman-manager$"#
  match app-id=r#"^MuseScore4$"#
  match app-id=r#"^nwg-look$"#
  match app-id=r#"^steam$"#
  match app-id=r#"^iwgtk$"#
  match app-id=r#"^piper$"#
  match title=r#"^Open"#
  
  exclude app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  exclude app-id=r#"^MuseScore4$"# title=r#"^MuseScore Studio$"#
  exclude app-id=r#"^steam$"# title=r#"^Steam$"#
  open-floating true
}

window-rule {
  match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
  default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
  match app-id=r#"^steam_app_*$"#
  open-fullscreen true
}

window-rule {
  match app-id=r#"^org.godotengine.Editor$"# title=r#"^Godot$"#
  match app-id=r#"^org.kde.kdenlive$"#
  open-maximized true
}

// Indicate screencasted windows with red colors.
window-rule {
  match is-window-cast-target=true

  border {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }

  tab-indicator {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }
}
